.vscode
config/neovim/autoload
config/neovim/undodir
config/neovim/.netrwhist
config/vimwiki/
config/fish/functions/fzf_key_bindings.fish
config/fish/functions/fish_prompt.fish
config/fish/functions/fundle.fish
